.mp4 {
  width: 90%;
  height: 60%;
  transform: translateY(5vh);
  display: flex;
  flex-direction: column;
}

.mp4 h2,
p,
input {
  margin-bottom: 1.5rem;
}

.mp4 input::file-selector-button {
  background-color: #f0481b;
  border: none;
  color: white;
  height: 3vh;
  border: 0.2rem solid #054871;
  border-radius: 0.5rem;
}
